:root {
    --primary-color: white;
    --secondary-color: rgba(140, 100, 214, 0.938);
    --tertiary-color: rgba(127, 96, 215, 0.938);
    --small-screen-font-size: 24px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
}

body {
    background-color: rgb(24, 21, 21);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

.hero {
    background-image: url('../images/herojpg.jpg');
    height: 148px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.tagline {
    display: flex;
    flex: wrap;
    justify-content: right;
    padding-right: 10px;
    padding-block: 60px;
    font-size: 30px;
    color: var(--primary-color);
}

header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
    padding: 0 10px 0 4px;
    background-color: var(--tertiary-color);
}


.nav{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.nav li {
    justify-content: space-between;
    padding: 0 25px 0 25px;
    margin: 0 25px 0 25px;
    font-size: 20px;
    font-weight: bold;
}

.nav a:hover, .contact a:hover{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

}

.flex-row {
    display: flex;
}

.flex-row h2 {
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid var(--tertiary-color);
    margin-right: 10px;
}

.about-me p{
    text-align: left;
}

.work {
    height: auto;
}

.work-images {
    display: flex;
    flex-wrap: wrap;
}


.work-images img {
    height: 300px;
    width: 700px;
    opacity: 0.6;
}

.image {
    border: 2px solid  var(--primary-color);
    margin: 20px 20px 20px 20px;
}

.image img:hover {
    opacity: 1;
}

.contact-title {
    height: 100px;
}

.contact a {
    font-size: 25px;
    margin: 100px 100px 0 100px;
}

.about-title {
    height: 100px;
    margin-left: 14px;
}

.work-title {
    height: 1000px;
    margin-left: 25px;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
 * { outline: 1px red solid !important; visibility: visible !important } 
    header {
        padding-bottom: 0;
    }

    header h1 {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .nav {
        padding-left: 0;
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .nav li a {
        font-size: 20px;
    }

    .nav li {
        font-size: var(--small-screen-font-size);
        text-align: center;
        margin: 0 10px 0 5px;
    }

    .hero {
        background-image: url('../images/herojpgmobile.jpg');
        width: 100%;
        justify-self: right;
    }
    
    .tagline {
        padding-block: 120px;
        justify-content: center;
    }

    .image {
        flex: 0 100%;
    }
   
    .work-images img {
        opacity: 1;
        height: 150px;
        width: 240px;
        background-size: cover;
    }

    h2 {
        font-size: var(--small-screen-font-size);
        border: none;
    }
        
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .contact a {
        font-size: var(--small-screen-font-size);

    } 

    .work-title, .contact-title, .about-title {
        margin-left: 0;
    }

    .contact {
        text-align: left;
    }


}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    .contact a {
        margin: 90px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .work-images img {
        opacity: 1;
        height: 76px;
        width: 200px;
        background-size: cover;
    }

    .nav li {
        font-size: var(--small-screen-font-size);
        text-align: center;
        margin: 0 0 0 5px;
        padding: 2px;
    }

    .contact a {
        margin: 20px;
    }
}